{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "About Me ~ DotBot"}}

<div class="container">
    <header>About Me</header>
    <p>I'm William Le, a programmer, I guess. Currently, I study at Troy High School, class of 2021. We'll see what happens next.</p>
    <p>Most projects I do are for fun, learning different programming languages and frameworks.</p>
    <p>I specialize in C# and Java, however I have experience with web development, machine learning, and normal applications.</p>
    <h2>Contact information</h2>
    <ul>
        <li>
            Email: <a href="mailto:theguy@williamle.com">theguy@williamle.com</a>
            <ul><li>I do have a personal email, however I will not place it here.</li></ul>
        </li>
        <li>
            GitHub: <a href="https://github.com/DoggySazHi">DoggySazHi</a>
        </li>
        <li>
            LinkedIn: <a href="https://www.linkedin.com/in/william-le-a6022620a/">William Le</a>
        </li>
        <li>
            Home: Probably under the Hakurei Shrine.
        </li>
        <li>
            Discord: DoggySazHi<code>#8280</code>
        </li>
    </ul>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

{{"include": "StaticViews/views/template/_footer.html"}}