{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Home ~ DotBot"}}

<!-- CSS libraries -->
<link rel="stylesheet" href="/css/index.css">

<div class="container">
    <header class="big-header"><span class="cursor">&nbsp;</span><span></span><span class="cursor">|</span>&#10;</header>
</div>
<div class="container covered" id="content">
    <h2>I program and stuff.</h2>
    <p>I am a high school (and soon to be college) student who simply does things in their free time.</p>
    <hr/>
    <div class="cards">
        <div class="card-container">
            <div class="card-div">
                <div class="card-face card-front">
                    Front1
                </div>
                <div class="card-face card-back">
                    Bruh.
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card-div">
                <div class="card-face card-front">
                    Front2
                </div>
                <div class="card-face card-back">
                    Bruh.
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card-div">
                <div class="card-face card-front">
                    Front3
                </div>
                <div class="card-face card-back">
                    Bruh.
                </div>
            </div>
        </div>
    </div>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<!-- JavaScript libraries -->
<script type="module" async defer src="/js/index.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}