{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Projects ~ DotBot"}}

<!-- CSS libraries -->
<link rel="stylesheet" href="/css/projects.css">

<div class="container">
    <header>Projects</header>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Links</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Modulr</td>
                <td>A code stipulator for Java, written in C#.</td>
                <td>
                    <a href="https://github.com/DoggySazHi/Modulr">Main Project</a>
                    <a href="https://github.com/DoggySazHi/Modulr.Stipulator">Stipulator Core</a>
                </td>
            </tr>
            <tr>
                <td>UNObot</td>
                <td>A universal Discord bot that started from UNO games to doing more than one thing.</td>
                <td>
                    <a href="https://discordapp.com/api/oauth2/authorize?client_id=477616287997231105&permissions=8192&scope=bot%20applications.commands">Invite the bot!</a>
                </td>
            </tr>
            <tr>
                <td>Allen Wittry Programming Contest Archive</td>
                <td>Some fun programming challenges which I am working on for fun.</td>
                <td>
                    <a href="https://github.com/DoggySazHi/AllenWittry">GitHub Repo</a>
                </td>
            </tr>
            <tr>
                <td>DotBot2</td>
                <td>This darn website you are on. Again.</td>
                <td>
                    <a href="https://github.com/DoggySazHi/DotBot2">GitHub Repo (private?)</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<!-- JavaScript libraries -->
<script type="module" async defer src="/js/projects.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}