{{"include": "StaticViews/views/template/_header.html"}}

<link rel="stylesheet" href="/css/table.css">

{{"title": "Projects ~ DotBot"}}
{{"description": "These projects are what I have devoted a large amount of time to, regardless of importance."}}

<div class="container">
    <header>Projects</header>
    <p>Things that I spent a considerable amount of my time making.</p>
    <p>Some things might not be listed due to their age or obscurity (e.g. DogeBot, Sportshot Arena).</p>
    <table class="col-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Modulr</td>
                <td>A code stipulator for Java, written in C#.</td>
                <td>
                    <div>
                        <a href="https://github.com/DoggySazHi/Modulr">Main Project</a> <br/>
                        <a href="https://github.com/DoggySazHi/Modulr.Stipulator">Stipulator Core</a> <br/>
                        <a href="https://modulr.williamle.com">Website (FJUHSD-locked)</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>UNObot</td>
                <td>A universal Discord bot that started from UNO games to doing more than one thing.</td>
                <td>
                    <a href="https://discordapp.com/api/oauth2/authorize?client_id=477616287997231105&permissions=8192&scope=bot%20applications.commands">Invite the bot!</a>
                </td>
            </tr>
            <tr>
                <td>Allen Wittry Programming Contest Archive</td>
                <td>Some fun programming challenges which I am working on for fun.</td>
                <td>
                    <a href="https://github.com/DoggySazHi/AllenWittry">GitHub Repo</a>
                </td>
            </tr>
            <tr>
                <td>DotBot2</td>
                <td>This darn website you are on. Again.</td>
                <td>
                    <a href="https://github.com/DoggySazHi/DotBot2">GitHub Repo</a>
                </td>
            </tr>
            <tr>
                <td>DotBot</td>
                <td>The old revision of the website.</td>
                <td>
                    <a href="https://old.williamle.com">Link (may be down)</a>
                </td>
            </tr>
            <tr>
                <td>Calculus Calendar</td>
                <td>A calendar my group and I made, for our AP Calculus BC class. Recommended to use a tall, somewhat thin window.</td>
                <td>
                    <a href="https://calculuscalendar.williamle.com/">Link</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p>Here are some other things that I've made, though with less effort.</p>
    <table class="col-3">
        <thead class="none">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RCONHelper</td>
                <td>A Valve query/RCON service, written in C++ with a wrapper in C#. It is used in UNObot, a currently closed-source project.</td>
                <td>
                    <div>
                        <a href="https://williamle.com/staticstuff/Bad_Apple_Demo.mp4">"Bad Apple!!" played in Minecraft</a> <br/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>VideoGrapher</td>
                <td>Draw videos. In Desmos.</td>
                <td>
                    <a href="https://williamle.com/staticstuff/BadAppleDesmos.mp4">Also "Bad Apple!!", because why not.</a> <br/>
                    <a href="https://github.com/DoggySazHi/VideoGrapher">GitHub Repo</a> <br/>
                    <a href="https://doggysazhi.github.io/VideoGrapher">Run it yourself!</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<script type="module" src="/js/table.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}
