{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Random Resources ~ DotBot"}}

<!-- CSS libraries -->
<link rel="stylesheet" href="/css/resources.css">

<div class="container">
    <header>Random Resources</header>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Links</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>APCSP Study Guide</td>
                <td>A study guide which is open to commenting (and in my opinion, better than the ones given at Troy).</td>
                <td>
                    <a href="https://drive.google.com/file/d/1pAyFYFxXyXvduYgd6JXKtcSWPoGfL5S2/view?usp=sharing">Find it here!</a>
                </td>
            </tr>
            <tr>
                <td>Karel J. Robot Reference Guide</td>
                <td>A basic listing of common API methods. Because BlueJ doesn't autocomplete.</td>
                <td>
                    <a href="https://docs.google.com/document/d/1__Y5S3KAxzm6cjl1s-_7YDx_MHZZCCCbtZSeWjOjeGA/edit?usp=sharing">Also find it here!</a>
                </td>
            </tr>
            <tr>
                <td>Differential Equation Solver (in Google Sheets)</td>
                <td>Chromebooks can't do anything!</td>
                <td>
                    <a href="https://docs.google.com/spreadsheets/u/0/d/11ulNJtulA--oRQt_bWHSf-lCvYRQzxkSt0OZDOLB6oI/edit">Google Sheets</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<!-- JavaScript libraries -->
<script type="module" async defer src="/js/resources.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}