{{"include": "StaticViews/views/template/_header.html"}}

<link rel="stylesheet" href="/css/table.css">

{{"title": "Random Resources ~ DotBot"}}

<div class="container">
    <header>Random Resources</header>
    <p>Also known as "things William made with even less value."</p>
    <table class="col-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>APCSP Study Guide</td>
                <td>A study guide which is open to commenting (and in my opinion, better than the ones given at Troy).</td>
                <td>
                    <a href="https://drive.google.com/file/d/1pAyFYFxXyXvduYgd6JXKtcSWPoGfL5S2/view?usp=sharing">Google Drive (PDF)</a>
                </td>
            </tr>
            <tr>
                <td>Karel J. Robot Reference Guide</td>
                <td>A basic listing of common API methods. Because BlueJ doesn't autocomplete.</td>
                <td>
                    <a href="https://docs.google.com/document/d/1__Y5S3KAxzm6cjl1s-_7YDx_MHZZCCCbtZSeWjOjeGA/edit?usp=sharing">Google Document</a>
                </td>
            </tr>
            <tr>
                <td>Differential Equation Solver (in Google Sheets)</td>
                <td>Chromebooks can't do anything!</td>
                <td>
                    <a href="https://docs.google.com/spreadsheets/u/0/d/11ulNJtulA--oRQt_bWHSf-lCvYRQzxkSt0OZDOLB6oI/edit">Google Sheets</a>
                </td>
            </tr>
            <tr>
                <td>Sudoku Solver</td>
                <td>Built using WASM.</td>
                <td>
                    <a href="https://williamle.com/staticstuff/sudoku.html">Link</a>
                </td>
            </tr>
            <tr>
                <td>Jeopardy (for vocab)</td>
                <td>I made this basic HTML "game" in 5th grade (2014) for a project.</td>
                <td>
                    <a href="https://output.jsbin.com/zutak/1">JSBin</a>
                </td>
            </tr>
            <tr>
                <td>SVG Images</td>
                <td>Images that I have made for websites. Some may not be used.</td>
                <td>
                    <a href="https://williamle.com/staticstuff/gohei.svg">Gohei</a> <br/>
                    <a href="https://williamle.com/staticstuff/gohei2.svg">Gohei (2)</a> <br/>
                    <a href="https://williamle.com/staticstuff/modulr.svg">Modulr Logo</a> <br/>
                    <a href="https://williamle.com/staticstuff/fumo.svg">Reimu Fumo</a> <br/>
                    <a href="https://williamle.com/staticstuff/reimumask.svg">Reimu wearing a mask</a> <br/>
                    <a href="https://williamle.com/staticstuff/flancup.svg">Flandre drinking</a> <br/>
                    <a href="/dog.svg">Doge Logo</a>
                </td>
            </tr>
            <tr>
                <td>Robot.</td>
                <td>A random video of 3952's robot driving. <s>I programmed that thing.</s></td>
                <td>
                    <a href="https://williamle.com/staticstuff/VID_20190216_135652.mp4">Robot.</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}

<script type="module" src="/js/table.js"></script>

{{"include": "StaticViews/views/template/_footer.html"}}