{{"include": "StaticViews/views/template/_header.html"}}
{{"title": "Error 404! ~ DotBot"}}

<div class="container">
    <header>Error 404...</header>
    <code>System.NullReferenceException: Object reference not set to an instance of an object.</code>
    <hr>
    <div>Sorry, we had some trouble with your request. I think what you were looking for is just not there.</div>
    <div>Try typing the given link again, or <a href="/">go to our home page!</a></div>
</div>

{{"include": "StaticViews/views/template/_gutter.html"}}
{{"include": "StaticViews/views/template/_footer.html"}}