<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/dog.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <!-- The other icon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ccb24c">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="DotBot - https://williamle.com" />
    <meta property="og:description" content="Hi, I'm William Le, a software developer." />
    <meta property="og:image" content="https://williamle.com/img/dog.svg" />
    <meta property="og:site_name" content="DotBot">
    <meta name="theme-color" content="#1cba0a">

    <title>DotBot</title>
</head>
<body>

<nav>
    <div class="nav-container">
        <a href="/">
            <img class="nav-item nav-logo" src="/img/dog.svg" alt="DotBot Logo">
            <span class="nav-title nav-link">DotBot</span>
        </a>
        <span class="nav-item-right"></span>
        <a href="/projects" class="nav-item">Projects</a>
        <a href="/resources" class="nav-item">Random Resources</a>
        <a href="/aboutme" class="nav-item">About Me</a>
        <button class="nav-mobile-button">
            <img class="nav-item nav-logo" src="/img/hamburger.svg" alt="Open Navigation Bar">
        </button>
    </div>
</nav>

<div class="nav-padding"></div>
