.big-header {
    font-size: 48px;
    font-family: "Source Code Pro", monospace;
    color: rgb(235, 231, 226);
    white-space: initial;
    word-wrap: break-word;
    user-select: none;
    overflow: no-display;
}

.cursor {
    alignment-baseline: middle;
    dominant-baseline: middle;
    white-space: nowrap;
    overflow: visible;
}

.covered {
    opacity: 0;
}

.reveal {
    opacity: 100%;
    transition: opacity 1s;
}